/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
   line-height: 1.15;
   /* 1 */
   -webkit-text-size-adjust: 100%;
   /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
   margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
   display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
   font-size: 2em;
   margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
   box-sizing: content-box;
   /* 1 */
   height: 0;
   /* 1 */
   overflow: visible;
   /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
   font-family: monospace, monospace;
   /* 1 */
   font-size: 1em;
   /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
   background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
   border-bottom: none;
   /* 1 */
   text-decoration: underline;
   /* 2 */
   text-decoration: underline dotted;
   /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
   font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
   font-family: monospace, monospace;
   /* 1 */
   font-size: 1em;
   /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
   font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
   border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   /* 1 */
   font-size: 100%;
   /* 1 */
   line-height: 1.15;
   /* 1 */
   margin: 0;
   /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
   /* 1 */
   overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
   /* 1 */
   text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
   -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
   padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
   box-sizing: border-box;
   /* 1 */
   color: inherit;
   /* 2 */
   display: table;
   /* 1 */
   max-width: 100%;
   /* 1 */
   padding: 0;
   /* 3 */
   white-space: normal;
   /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
   vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
   overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
   box-sizing: border-box;
   /* 1 */
   padding: 0;
   /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
   -webkit-appearance: textfield;
   /* 1 */
   outline-offset: -2px;
   /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
   -webkit-appearance: button;
   /* 1 */
   font: inherit;
   /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
   display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
   display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
   display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
   display: none;
}

html,
body {
   /* overflow-x: hidden !important; */
}

header,
section,
footer {
   width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

a,
a:hover {
   color: #000;
   text-decoration: none;
}

input,
input:active,
input:focus,
input:hover {
   outline: none;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
   padding-left: 0.9375rem;
   padding-right: 0.9375rem;
}

.header {
   background-color: #FFCB00;
   padding: 12px 0;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header .wrapper .logo {
   display: flex;
   align-items: center;
   flex-basis: 50%;
   font-family: "Montserrat", sans-serif;
}

.header .wrapper .logo__text {
   padding: 3px 0 0 2px;
}

.header .wrapper .logo .logo__title {
   font-size: 1.875em;
   line-height: 37px;
   font-weight: 800;
   letter-spacing: -0.06em;
}

.header .wrapper .logo .logo__subtitle {
   font-size: 1em;
   font-weight: 600;
   letter-spacing: -0.05em;
}

.header .wrapper .nav {
   position: relative;
   flex-basis: 50%;
}

.header .wrapper .nav__buttons {
   display: flex;
   justify-content: flex-end;
}

.header .wrapper .nav .nav__buttons--cart.cart,
.header .wrapper .nav .nav__buttons--menu.menu {
   width: 45px;
   height: 45px;
   background-color: #FFE373;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #000;
   border-radius: 50%;
}

.header .wrapper .nav .nav__buttons--cart.cart {
   margin: 0 15px 0 0;
   font-size: 1.5rem;
}

.header .wrapper .nav .nav__buttons--menu.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header .wrapper .nav .nav__buttons--menu.menu .menu--lines.line-1,
.header .wrapper .nav .nav__buttons--menu.menu .menu--lines.line-2,
.header .wrapper .nav .nav__buttons--menu.menu .menu--lines.line-3 {
   width: 50%;
   border: 1.5px solid #000;
   border-radius: 40px;
}

.header .wrapper .nav .nav__buttons--menu.menu .menu--lines.line-2 {
   margin: 4px 0;
}

.header .wrapper .nav .dropdown {
   overflow-x: hidden;
   overflow-y: scroll;
   display: none;
   flex-direction: column;
   align-items: center;
   width: 100%;
   position: fixed;
   z-index: 999;
   top: 103px;
   left: 0;
   bottom: 0;
   right: 0;
   background: #fff;
}

.header .wrapper .nav .dropdown__list {
   padding: 0 15px;
   background: rgba(255, 203, 0, 0.15);
}

.header .wrapper .nav .dropdown__list li {
   padding: 21px 0;
   position: relative;
}

.header .wrapper .nav .dropdown__list li::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: -20px;
   width: 150%;
   border: 1px solid rgba(0, 0, 0, 0.2);
}

.header .wrapper .nav .dropdown__list li a {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.5em;
   font-weight: 600;
}

.header .wrapper .nav .dropdown__close {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 80px 0 20px;
   padding: 0 35px;
   min-height: 70px;
   background-color: #0D56A6;
   border-radius: 10px;
   color: #fff;
   font-size: 1.125em;
   font-weight: normal;
}

.header .wrapper .nav .dropdown__close span {
   position: relative;
   margin-right: 10px;
   display: block;
   width: 35px;
   height: 35px;
}

.header .wrapper .nav .dropdown__close span::after,
.header .wrapper .nav .dropdown__close span::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   border: 1px solid #fff;
}

.header .wrapper .nav .dropdown__close span::after {
   transform: translate(-50%, -50%) rotate(45deg);
}

.header .wrapper .nav .dropdown__close span::before {
   transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
   background-color: #FFCB00;
   padding: 20px 0;
}

.footer .container .wrapper {
   flex-direction: column;
}

.footer .container .wrapper .social {
   display: flex;
}

.footer .container .wrapper .social__viber,
.footer .container .wrapper .social__whatsapp,
.footer .container .wrapper .social__instagram {
   width: 50px;
   height: 50px;
}

.footer .container .wrapper .social__viber {
   background: url("../images/footer/social/viber.png") no-repeat center/contain;
}

.footer .container .wrapper .social__whatsapp {
   margin: 0 41px;
   background: url("../images/footer/social/whatsapp.png") no-repeat center/contain;
}

.footer .container .wrapper .social__instagram {
   background: url("../images/footer/social/instagram.png") no-repeat center/contain;
}

.footer .container .wrapper .nav {
   width: 100%;
   margin: 30px 0;
}

.footer .container .wrapper .nav li {
   padding: 10px 0;
   border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

.footer .container .wrapper .nav li:last-child {
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.footer .container .wrapper .nav li .list__link {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1em;
   font-weight: 500;
   line-height: 19px;
}

.footer .container .wrapper .nav li .list__link .fa {
   transform: rotate(-90deg);
}

.footer .container .wrapper .footer__copyright p {
   font-size: 0.875em;
   font-weight: 500;
   line-height: 16px;
}

.temp {
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px dashed red;
}

.search {
   margin-top: 23px;
}

.search .container .wrapper {
   display: block;
}

.search .container .wrapper .search__input {
   position: relative;
}

.search .container .wrapper .search__input input {
   padding: 12px 26px;
   width: 100%;
   background: rgba(225, 225, 225, 0.5);
   border: 1px solid #DEDEDE;
   border-radius: 10px;
   font-size: 1.125em;
   font-weight: 400;
}

.search .container .wrapper .search__input input::placeholder {
   color: rgba(0, 0, 0, 0.3);
}

.search .container .wrapper .search__input .fa {
   position: absolute;
   top: 50%;
   right: 8px;
   transform: translateY(-50%);
   font-size: 2rem;
   color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
   margin: 40px 0 50px;
}

.main-navigation .container .wrapper {
   flex-direction: column;
}

.main-navigation .container .wrapper .block {
   width: 100%;
   margin-bottom: 15px;
   padding: 35px 37px 35px 27px;
   display: flex;
   align-items: center;
   background: linear-gradient(158.34deg, rgba(231, 219, 219, 0.4) 18.69%, rgba(117, 118, 120, 0.02) 50.56%);
   border: 0.5px solid rgba(0, 0, 0, 0.49);
   border-radius: 5px;
}

.main-navigation .container .wrapper .block:last-child {
   margin-bottom: 0;
}

.main-navigation .container .wrapper .block__title {
   margin-left: 10px;
   font-family: "Montserrat", sans-serif;
   font-size: 1.25em;
   font-weight: 400;
}

.navigation {
   padding: 40px 0 0 0;
}

.navigation .container .wrapper {
   flex-direction: column;
}

.navigation .container .wrapper .navigation__title {
   text-align: center;
   font-size: 1.875em;
   font-weight: bold;
}

.navigation .container .wrapper .card {
   background-color: #fff;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   margin-top: 30px;
}

.navigation .container .wrapper .card:last-child {
   margin-bottom: 80px;
}

.navigation .container .wrapper .card__image img {
   width: 100%;
}

.navigation .container .wrapper .card__main {
   padding: 22px 15px 17px 15px;
}

.navigation .container .wrapper .card .text__head {
   font-size: 1.5em;
   font-weight: 700;
}

.navigation .container .wrapper .card .text__desc {
   font-size: 1.125em;
   font-weight: 300;
}

.navigation .container .wrapper .card__button {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 12px;
   padding: 17px 0;
   background: rgba(13, 86, 166, 0.7);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   color: #fff;
   font-size: 1.125em;
}

.heating {
   margin-top: 40px;
}

.heating .wrapper {
   flex-direction: column;
}

.heating .wrapper .heating__title {
   font-size: 1.875em;
   font-weight: bold;
   margin-bottom: 36px;
}

.heating .wrapper .body__card {
   margin-bottom: 30px;
   position: relative;
   z-index: 5;
   display: flex;
   justify-content: space-evenly;
}

.heating .wrapper .body__card .bg-image {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
}

.heating .wrapper .body__card .pumps__title {
   position: absolute;
   z-index: 7;
   font-size: 1.5em;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 42px;
}

.heating .wrapper .body .block {
   position: relative;
   z-index: 6;
   min-height: 353px;
   margin-top: 80px;
   width: 48%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.heating .wrapper .body .block__title {
   font-size: 1.5em;
   font-weight: 500;
}

.heating .wrapper .body .block__text {
   width: 100%;
   font-size: 1rem;
   font-weight: 300;
}

.heating .wrapper .body .block__button {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 1.375rem;
   font-weight: 500;
   min-height: 50px;
   background-color: rgba(13, 86, 166, 0.7);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.heating .wrapper .body .block>.left {
   border-radius: 10px 0 0 50px;
}

.heating .wrapper .body .block>.right {
   border-radius: 0 10px 50px 0;
}

.heating .wrapper .body .block img {
   width: 100%;
}

.ad {
   min-height: 230px;
   background: linear-gradient(240.95deg, #0D77EB 0%, #25598A 100%);
}

.stages {
   padding: 45px 0 75px;
}

.stages .container .wrapper {
   flex-direction: column;
}

.stages .container .wrapper .stages__title {
   margin-bottom: 40px;
   position: relative;
   font-size: 1.875em;
   font-weight: bold;
}

.stages .container .wrapper .stages__title::after {
   content: "";
   width: 100%;
   position: absolute;
   bottom: -15px;
   left: 0;
   border: 1px solid rgba(0, 0, 0, 0.29);
}

.stages .container .wrapper .main {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.stages .container .wrapper .main__arrow {
   width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.stages .container .wrapper .block {
   margin: 25px 0;
   display: flex;
   align-items: center;
}

.stages .container .wrapper .block__title {
   margin-left: 25px;
}

.stages .container .wrapper .block__title h1 {
   line-height: 1;
   font-size: 1.375em;
   font-weight: bold;
   margin-bottom: 10px;
}

.stages .container .wrapper .block__title p {
   width: 88%;
   font-size: 1.125em;
   font-weight: 300;
}

.form {
   padding: 60px 0 0;
   background: linear-gradient(180deg, #FFE373 0%, rgba(196, 196, 196, 0) 100%);
}

.form .container .wrapper {
   flex-direction: column;
}

.form .container .wrapper .form__body {
   padding: 18px 23px 30px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

.form .container .wrapper .form__body .form__label {
   margin: 0 0 30px 0;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.form .container .wrapper .form__body .form__label p {
   font-size: 1em;
   font-weight: 500;
   margin-bottom: 10px;
}

.form .container .wrapper .form__body .form__label .form__input {
   width: 100%;
   height: 45px;
   border: none;
   background: rgba(112, 155, 202, 0.38);
   box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
   -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.form .container .wrapper .form__body .form__button {
   padding: 13px 0;
   width: 100%;
   background-color: #0D56A6;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-size: 1.125em;
   font-weight: bold;
   color: #fff;
}

.form .container .wrapper .form__top-button {
   margin: 40px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #D6AA01;
}

.form .container .wrapper .form__top-button .fa {
   font-size: 2rem;
   margin-right: 5px;
}

.form .container .wrapper .form__top-button p {
   border-bottom: 1px solid rgba(58, 47, 5, 0.2);
}

.catalog .container .wrapper .head {
   margin: 15px 0 20px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 50px;
}

.catalog .container .wrapper .head>.active-filter {
   color: #fff;
   background-color: #0D56A6;
}

.catalog .container .wrapper .head>.active {
   color: #fff;
   background: #0d56a6;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.catalog .container .wrapper .head__exp,
.catalog .container .wrapper .head__cheap {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 0 1 42%;
   font-size: 1rem;
   font-weight: normal;
   color: #0D56A6;
}

.catalog .container .wrapper .head__filter {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   color: #0D56A6;
   font-size: 1.5rem;
   border: 2px solid #0D56A6;
   border-radius: 50%;
}

.catalog .wrapper {
   flex-direction: column;
}

.catalog .wrapper .main {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.catalog .wrapper .main .card {
   border: 1px solid rgba(0, 0, 0, 0.3);
   flex: 0 1 50%;
   text-align: center;
   padding: 13px 15px;
}

.catalog .wrapper .main .card__image {
   width: 100%;
   height: 122px;
   background-color: #c4c4c4;
}

.catalog .wrapper .main .card__title {
   margin-top: 18px;
   font-size: 1.125rem;
   font-weight: 500;
   color: #0D56A6;
}

.catalog .wrapper .main .card__price {
   margin-top: 10px;
   font-size: 1.5rem;
   font-weight: bold;
   color: #0D56A6;
}

.catalog .wrapper .main .card__inStock {
   margin-top: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   font-weight: normal;
   color: #2ecc71;
}

.catalog .wrapper .main .card__inStock .fa {
   margin-right: 6px;
   font-size: 2rem;
}

.catalog .wrapper .main .card__more {
   margin-top: 5px;
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(13, 86, 166, 0.7);
   border-radius: 5px;
   font-size: 1.125rem;
   font-weight: normal;
   color: #fff;
}

.catalog .wrapper .catalog__moreBtn {
   margin: 30px 0 70px;
   padding: 7px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   border: 2px solid #0D56A6;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-size: 1.125rem;
   color: #0D56A6;
}

.catalog .wrapper .catalog__moreBtn .catalog__moreBtn--dots {
   width: 35px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #0D56A6;
   border-radius: 50%;
   margin-right: 7px;
}

.catalog .wrapper .catalog__moreBtn:active {
   box-shadow: none;
}

.filter {
   display: none;
   width: 100%;
   background: linear-gradient(180deg, #4276AD 2.6%, #8ABFF9 53.12%, rgba(38, 123, 216, 0.5) 100%);
}

.filter .container .wrapper form .main {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.filter .container .wrapper form .title {
   margin: 40px 0 15px;
   font-size: 1.375rem;
   font-weight: 500;
   color: #fff;
   text-transform: uppercase;
}

.filter .container .wrapper form .label {
   display: flex;
   align-items: center;
   font-size: 1.125rem;
   font-weight: 300;
   color: #fff;
}

.filter .container .wrapper form span {
   width: 5%;
   border: 2px solid #000;
}

.filter .container .wrapper form input {
   min-height: 50px;
   background-color: #fff;
   outline: none;
   border-radius: 5px;
   border: none;
   text-align: center;
   font-size: 1.125rem;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.5);
}

.filter .container .wrapper form input[type="text"] {
   width: 45%;
}

.filter .container .wrapper form input[type="radio"]:checked,
.filter .container .wrapper form input[type="radio"]:not(checked) {
   position: absolute;
   left: -9999px;
}

.filter .container .wrapper form input[type="radio"]:checked+p,
.filter .container .wrapper form input[type="radio"]:not(checked)+p {
   cursor: pointer;
   position: relative;
   padding-left: 28px;
   display: inline-block;
}

.filter .container .wrapper form input[type="radio"]:checked+p:before,
.filter .container .wrapper form input[type="radio"]:not(checked)+p:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fff;
}

.filter .container .wrapper form input[type="radio"]:checked+p:after,
.filter .container .wrapper form input[type="radio"]:not(checked)+p:after {
   content: "";
   width: 14px;
   height: 14px;
   position: absolute;
   top: 3px;
   left: 3px;
   border-radius: 50%;
   background-color: #0d56a6;
   transition: all 0.2s ease;
}

.filter .container .wrapper form input[type="radio"]:not(checked)+p:after {
   opacity: 0;
   transform: scale(0);
}

.filter .container .wrapper form input[type="radio"]:checked+p:after {
   opacity: 1;
   transform: scale(1);
}

.filter .container .wrapper .brend {
   width: 100%;
}

.filter .container .wrapper .brend__btn {
   display: flex;
   align-items: center;
}

.filter .container .wrapper .brend__btn .brend-arrow {
   margin-left: 10px;
   transform: rotate(-90deg);
}

.filter .container .wrapper .brend .list {
   display: none;
   width: 70%;
   max-height: 364px;
   overflow-y: scroll;
   background-color: #fff;
   border-radius: 10px;
}

.filter .container .wrapper .brend .list>li {
   position: relative;
   padding: 15px 0 15px 7px;
   font-size: 1.375rem;
   font-weight: 500;
   line-height: 1.625rem;
}

.filter .container .wrapper .brend .list>li::after {
   content: "";
   position: absolute;
   width: 100%;
   border: 1px solid rgba(13, 86, 166, 0.3);
   bottom: 0;
   left: 0;
}

.filter .container .wrapper .brend .list>.active {
   background-color: #0D56A6;
   color: #fff;
}

.filter .container .wrapper .brend .list::-webkit-scrollbar {
   width: 9px;
}

.filter .container .wrapper .brend .list::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: #0d56a6;
}

.filter .container .wrapper .brend .list::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: #fff;
   opacity: 1;
}

.filter .container .wrapper .price {
   width: 100%;
}

.filter .container .wrapper .price .main {
   width: 100%;
}

.filter .container .wrapper .invertor {
   width: 100%;
}

.filter .container .wrapper .invertor__label {
   flex: 0 1 50%;
}

.filter .container .wrapper .work-time {
   width: 100%;
}

.filter .container .wrapper .work-time label {
   flex: 0 1 100%;
}

.filter .container .wrapper .work-time label:last-child {
   margin-top: 13px;
}

.filter .container .wrapper .work-time .main {
   width: 70%;
}

.filter .container .wrapper .stock {
   width: 100%;
}

.filter .container .wrapper .stock__label {
   flex: 0 1 50%;
}

.filter .container .wrapper .square {
   width: 100%;
}

.filter .container .wrapper .square .main {
   width: 100%;
}

.filter .container .wrapper .power {
   width: 100%;
}

.filter .container .wrapper .power .main {
   width: 100%;
}

.filter .container .wrapper .guarantee {
   width: 100%;
}

.filter .container .wrapper .guarantee .main {
   width: 70%;
}

.filter .container .wrapper .guarantee__label {
   flex: 0 1 50%;
   margin-top: 13px;
}

.filter .container .wrapper .filter__submit {
   margin: 60px 0 30px;
   padding: 15px 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FFE373;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-family: "Montserrat", sans-serif;
   font-size: 1.375rem;
   font-weight: 600;
}

.filter .container .wrapper .filter__submit:active {
   box-shadow: none;
}

.filter .container .wrapper .filter__reset {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 0 53px;
   font-size: 1rem;
   font-weight: normal;
   color: #675303;
}

.filter .container .wrapper .filter__reset p {
   position: relative;
}

.filter .container .wrapper .filter__reset p::after {
   content: "";
   width: 100%;
   border: 1px solid rgba(84, 68, 5, 0.25);
   position: absolute;
   bottom: -9px;
   left: 0;
}

.product {
   margin-top: 40px;
}

.product .wrapper {
   flex-direction: column;
}

.product .wrapper .product__title {
   font-size: 1.875rem;
   font-weight: bold;
}

.product .wrapper .product__image {
   width: 100%;
   margin-top: 20px;
}

.product .wrapper .product__image img {
   width: 100%;
}

.product .wrapper .property {
   width: 100%;
}

.product .wrapper .property__title {
   font-size: 1.5rem;
}

.product .wrapper .property__block {
   margin: 20px 0;
}

.product .wrapper .property__block .brend,
.product .wrapper .property__block .model,
.product .wrapper .property__block .country,
.product .wrapper .property__block .square,
.product .wrapper .property__block .mode,
.product .wrapper .property__block .guarantee {
   display: table;
   margin-bottom: 10px;
   width: 100%;
   white-space: nowrap;
}

.product .wrapper .property__block .brend .key,
.product .wrapper .property__block .model .key,
.product .wrapper .property__block .country .key,
.product .wrapper .property__block .square .key,
.product .wrapper .property__block .mode .key,
.product .wrapper .property__block .guarantee .key {
   display: table-cell;
   font-size: 1rem;
}

.product .wrapper .property__block .brend .dotted,
.product .wrapper .property__block .model .dotted,
.product .wrapper .property__block .country .dotted,
.product .wrapper .property__block .square .dotted,
.product .wrapper .property__block .mode .dotted,
.product .wrapper .property__block .guarantee .dotted {
   display: table-cell;
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.product .wrapper .property__block .brend .value,
.product .wrapper .property__block .model .value,
.product .wrapper .property__block .country .value,
.product .wrapper .property__block .square .value,
.product .wrapper .property__block .mode .value,
.product .wrapper .property__block .guarantee .value {
   display: table-cell;
   width: 100%;
   text-align: right;
   font-size: 1rem;
   font-weight: normal;
}

.product .wrapper .property__block .brend .blue,
.product .wrapper .property__block .model .blue,
.product .wrapper .property__block .country .blue,
.product .wrapper .property__block .square .blue,
.product .wrapper .property__block .mode .blue,
.product .wrapper .property__block .guarantee .blue {
   color: #0D56A6;
   font-weight: 500;
}

.product .wrapper .product__price {
   margin-bottom: 20px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.product .wrapper .product__price p {
   font-size: 2.25rem;
   font-weight: bold;
   color: #0D56A6;
}

.product .wrapper .product__price .product__stoke {
   display: flex;
   align-items: center;
   color: #2ecc71;
   font-size: 1.125rem;
}

.product .wrapper .product__price .product__stoke .fa-check-circle {
   margin-right: 6px;
   font-size: 2rem;
}

.product .wrapper .product__cart {
   width: 100%;
   min-height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #FFE373;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-family: "Montserrat", sans-serif;
   font-size: 1rem;
   font-weight: 600;
}

.product .wrapper .product__cart .fa {
   font-size: 2rem;
   margin-right: 6px;
}

.product .wrapper .product__cart:active {
   box-shadow: none;
}

.product .wrapper .change {
   margin-top: 45px;
}

.product .wrapper .change .btn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 50px;
}

.product .wrapper .change .btn__desc,
.product .wrapper .change .btn__characteristics {
   min-height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.125rem;
   font-weight: 500;
   color: #0D56A6;
}

.product .wrapper .change .btn__desc {
   flex: 0 1 30%;
}

.product .wrapper .change .btn__characteristics {
   flex: 0 1 65%;
}

.product .wrapper .change .btn__active {
   background: rgba(13, 86, 166, 0.7);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   color: #fff;
}

.product .wrapper .change .description {
   display: block;
}

.product .wrapper .change .description img {
   margin-bottom: 50px;
}

.product .wrapper .change .description__body {
   padding: 15px 0 30px;
   background: #FFF7D9;
   box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
   border-radius: 0px;
   margin-bottom: 70px;
}

.product .wrapper .change .description__body .description__title {
   font-size: 1.5rem;
   font-weight: 500;
}

.product .wrapper .change .description__body .description__text {
   margin-top: 10px;
}

.product .wrapper .change .description__body .description__text p {
   font-size: 1rem;
   font-weight: 300;
}

.product .wrapper .change .description__body .description__text p:nth-child(2) {
   margin: 20px 0;
}

.product .wrapper .change .characteristics {
   display: none;
}

.product .wrapper .change .characteristics__desc {
   padding: 30px 0;
   background: #FFF7D9;
   box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
}

.product .wrapper .change .characteristics__desc--title {
   font-size: 1.5rem;
   font-weight: 500;
   text-align: center;
}

.product .wrapper .change .characteristics__desc .body {
   margin-top: 20px;
}

.product .wrapper .change .characteristics__desc .body .type,
.product .wrapper .change .characteristics__desc .body .square,
.product .wrapper .change .characteristics__desc .body .invertor,
.product .wrapper .change .characteristics__desc .body .class,
.product .wrapper .change .characteristics__desc .body .mode,
.product .wrapper .change .characteristics__desc .body .range,
.product .wrapper .change .characteristics__desc .body .power-in-cold,
.product .wrapper .change .characteristics__desc .body .power-in-hot,
.product .wrapper .change .characteristics__desc .body .power-input-in-cold,
.product .wrapper .change .characteristics__desc .body .power-input-in-hot,
.product .wrapper .change .characteristics__desc .body .drainage,
.product .wrapper .change .characteristics__desc .body .controller,
.product .wrapper .change .characteristics__desc .body .timer {
   display: table;
   width: 100%;
   white-space: nowrap;
   font-size: 0.875rem;
   font-weight: 300;
   padding-top: 9px;
}

.product .wrapper .change .characteristics__desc .body .type .key,
.product .wrapper .change .characteristics__desc .body .square .key,
.product .wrapper .change .characteristics__desc .body .invertor .key,
.product .wrapper .change .characteristics__desc .body .class .key,
.product .wrapper .change .characteristics__desc .body .mode .key,
.product .wrapper .change .characteristics__desc .body .range .key,
.product .wrapper .change .characteristics__desc .body .power-in-cold .key,
.product .wrapper .change .characteristics__desc .body .power-in-hot .key,
.product .wrapper .change .characteristics__desc .body .power-input-in-cold .key,
.product .wrapper .change .characteristics__desc .body .power-input-in-hot .key,
.product .wrapper .change .characteristics__desc .body .drainage .key,
.product .wrapper .change .characteristics__desc .body .controller .key,
.product .wrapper .change .characteristics__desc .body .timer .key {
   display: table-cell;
}

.product .wrapper .change .characteristics__desc .body .type .value,
.product .wrapper .change .characteristics__desc .body .square .value,
.product .wrapper .change .characteristics__desc .body .invertor .value,
.product .wrapper .change .characteristics__desc .body .class .value,
.product .wrapper .change .characteristics__desc .body .mode .value,
.product .wrapper .change .characteristics__desc .body .range .value,
.product .wrapper .change .characteristics__desc .body .power-in-cold .value,
.product .wrapper .change .characteristics__desc .body .power-in-hot .value,
.product .wrapper .change .characteristics__desc .body .power-input-in-cold .value,
.product .wrapper .change .characteristics__desc .body .power-input-in-hot .value,
.product .wrapper .change .characteristics__desc .body .drainage .value,
.product .wrapper .change .characteristics__desc .body .controller .value,
.product .wrapper .change .characteristics__desc .body .timer .value {
   display: table-cell;
   width: 100%;
   text-align: right;
}

.product .wrapper .change .characteristics__desc .body .type .dotted,
.product .wrapper .change .characteristics__desc .body .square .dotted,
.product .wrapper .change .characteristics__desc .body .invertor .dotted,
.product .wrapper .change .characteristics__desc .body .class .dotted,
.product .wrapper .change .characteristics__desc .body .mode .dotted,
.product .wrapper .change .characteristics__desc .body .range .dotted,
.product .wrapper .change .characteristics__desc .body .power-in-cold .dotted,
.product .wrapper .change .characteristics__desc .body .power-in-hot .dotted,
.product .wrapper .change .characteristics__desc .body .power-input-in-cold .dotted,
.product .wrapper .change .characteristics__desc .body .power-input-in-hot .dotted,
.product .wrapper .change .characteristics__desc .body .drainage .dotted,
.product .wrapper .change .characteristics__desc .body .controller .dotted,
.product .wrapper .change .characteristics__desc .body .timer .dotted {
   display: table-cell;
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.product .wrapper .change .characteristics .features {
   margin-bottom: 70px;
   padding: 33px 0;
   background: #FFFFFF;
   box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
   border-radius: 0px;
}

.product .wrapper .change .characteristics .features .characteristics__features--title {
   font-size: 1.5rem;
   font-weight: 500;
   text-align: center;
}

.product .wrapper .change .characteristics .features__title {
   margin-top: 20px;
}

.product .wrapper .change .characteristics .features__title h2 {
   font-size: 1rem;
   font-weight: 500;
   color: #0D56A6;
}

.product .wrapper .change .characteristics .features__title p {
   margin-top: 5px;
   font-size: 0.875rem;
   font-weight: normal;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   transition: all 0.2s ease;
}

body {
   font-family: "Roboto", sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 16px;
}

.container {
   width: 100%;
   padding: 0 15px;
}

.wrapper {
   display: flex;
   align-items: center;
}

@media screen and (min-width: 36rem) {
   .container {
      max-width: 31.875rem;
   }
}

@media screen and (min-width: 48rem) {
   .container {
      max-width: 43.125rem;
   }
}

@media screen and (min-width: 62rem) {
   .container {
      max-width: 58.125rem;
   }
}

@media screen and (min-width: 75rem) {
   .container {
      max-width: 69.375rem;
   }
}

/*# sourceMappingURL=maps/main.css.map */
